<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/qweather-icons@1.3.0/font/qweather-icons.css">
    <link rel='stylesheet' type='text/css' media='screen' href='./../css/mobileVersion.css'>
</head>
<body>
    <div id="phoneBG"></div>
    <div id="app">
        <div class="searchBar"><!--搜索栏-->
            <input type="text" v-model="searchCity" placeholder="请输入要搜索的城市">
            <button @click="toSearchCity" >搜索</button>
        </div>
        <div class="currentTime"><!--当前地区时间-->
            <div class="weatherTypePhone"><!--天气类型:手机版本-->
                <div><i :class="cityMain.weatherTypeIcon"></i></div>
                {{cityMain.weatherType}} 
            </div>
            <div>{{currentCity}}</div>
            <div>{{currentTime}}</div>
            <div>{{currentDate}}</div>
        </div>
        <div class="weatherMain"><!--当天详细天气状况-->
            <div class="tempAndSun"><!--气温日出日落-->
                <div>{{cityMain.nowTemp}}</div>
                <div>
                    <span>最低:{{cityMain.minTemp}}</span>
                    <span>最高:{{cityMain.maxTemp}}</span>
                </div>
                <div>
                    <div class="sunRAandS">
                        <img src="./../icon/sunRise.png">
                            <br class="phoneVersion">日出<br>
                            {{cityMain.sunRise}}
                    </div>
                    <div class="sunRAandS">
                        <img src="./../icon/sunSet.png">
                        <br class="phoneVersion">日落<br>
                        {{cityMain.sunSet}}
                    </div>
                </div>
            </div>
            <div class="weatherType"><!--天气类型-->
                <div><i :class="cityMain.weatherTypeIcon"></i></div>
                {{cityMain.weatherType}} 
            </div>
            <div class="otherAttribute"><!--湿度、风速、气压、紫外线-->
                <div><img src="./../icon/humidity.png"><br><span>湿度</span><br>{{cityMain.humidity}}</div>
                <div><img src="./../icon/windSpeed.png"><br><span>风速</span><br>{{cityMain.windSpeed}}</div>
                <div><img src="./../icon/pressure.png"><br><span>气压</span><br>{{cityMain.pressure}}</div>
                <div><img src="./../icon/uv.png"><br><span>紫外线</span><br>{{cityMain.uv}}</div>
            </div>
        </div>
        <div class="fiveDaySimpleBox">
            <div>未来五天：</div>
            <template v-for="item in fiveDayLike">
                <div>
                    <div><i :class='item.weatherIcon'></i></div>
                    <div>{{item.averageTemp}}</div>
                    <div>{{item.dayOfWeekCH}}，{{item.todayBefore}}天后</div>
                </div>
            </template>
        </div><!--近五天天气-->
        <div class="laterHourlyBox">
            <div>未来十二小时：</div>
            <template v-for="item in hourlyLike">
                <div>
                    <div>{{item.time}}</div>
                    <div>
                        <i :class="item.weatherTypeIcon"></i>
                    </div>
                    <div>
                        {{item.averageTemp}}
                    </div>
                    <div>
                        <img :src="'./../icon/'+item.windDirectionIcon+'.png'">
                    </div>
                    <div>
                        {{item.windSpeed}}
                    </div>
                </div>
            </template>
        </div><!--接下来几小时天气-->
    </div>
    
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.13/vue.js"></script>
<script>
    let myVue = new Vue({
    el:'#app',
    data:{
        searchCity:'',//搜索的城市
        currentCity:'深圳',//当前城市
        currentTime:'11:47',//当前时间
        currentDate:'2024年8月5日',//当前日期
        cityMain:{  //城市详细天气数据(最高温、最低温、日出时间、日落时间、湿度、气压、风速、紫外线、天气类型)
            nowTemp:'24°C',
            maxTemp:'100°C',
            minTemp:'0°C',
            sunRise:'8:00',
            sunSet:'17:00',
            humidity:'41%',
            pressure:'997hPa',
            windSpeed:'3km/h',
            uv:'8',
            weatherType:'晴',
            weatherTypeIcon:'qi-100'
        },
        fiveDayLike:[ //五天气候(类型、温度、星期)
            {
                todayBefore:1,//一天之后
                dayOfWeekCH:'星期天',
                dayOfWeekEN:'Sunday',
                averageTemp:'20°C',
                weatherType:'',
                weatherIcon:'qi-100'
            },
            {
                todayBefore:2,//一天之后
                dayOfWeekCH:'星期一',
                dayOfWeekEN:'Monday',
                averageTemp:'21°C',
                weatherType:'',
                weatherIcon:'qi-100'
            },
            {
                todayBefore:3,//一天之后
                dayOfWeekCH:'星期二',
                dayOfWeekEN:'Tuesday',
                averageTemp:'19°C',
                weatherType:'',
                weatherIcon:'qi-100'
            },
            {
                todayBefore:4,//一天之后
                dayOfWeekCH:'星期三',
                dayOfWeekEN:'Wednesday',
                averageTemp:'22°C',
                weatherType:'',
                weatherIcon:'qi-100'
            },
            {
                todayBefore:5,//一天之后
                dayOfWeekCH:'星期四',
                dayOfWeekEN:'Thursday',
                averageTemp:'23°C',
                weatherType:'',
                weatherIcon:'qi-100'
            }
        ],
        hourlyLike:[ //当天未来天气(类型、温度、时间、风向)
            {
                time:'12:00',//三小时之后
                averageTemp:'21°C',
                weatherTypeIcon:'qi-100',
                windDirectionIcon:'北风',
                windSpeed:'3km/h'
            },
            {
                time:'15:00',//六小时之后
                averageTemp:'21°C',
                weatherTypeIcon:'qi-100',
                windDirectionIcon:'北风',
                windSpeed:'3km/h'
            },
            {
                time:'18:00',//九小时之后
                averageTemp:'21°C',
                weatherTypeIcon:'qi-100',
                windDirectionIcon:'北风',
                windSpeed:'3km/h'
            },
            {
                time:'21:00',//十二小时之后
                averageTemp:'21°C',
                weatherTypeIcon:'qi-100',
                windDirectionIcon:'北风',
                windSpeed:'3km/h'
            },
        ]
    },
    methods:{   //和风天气用户key:b38053db3dee4ae39586a04fbff4ff1c
        toSearchCity(){ //根据键盘输入的城市名搜索相关天气信息
            this.getWeatherMainByName(this.searchCity);
        },
        getWeatherMainByName(locationName){
            let locationId=0;
            const mykey='b38053db3dee4ae39586a04fbff4ff1c'
            let that=this;
            axios({
                method:'get',
                url:'https://geoapi.qweather.com/v2/city/lookup',//根据城市名字查询城市id
                params:{
                    location:locationName,     //无结果是404
                    key:mykey
                }
            }).then((respose)=>{//用箭头函数可以使下文this指向上文
                console.log(locationName)
                console.log(respose.data)
                let data=respose.data;
                console.log(data.location)
                if(data.code!=200){//请求错误
                    alert('请求错误')
                }
                else{
                    for(let i in data.location){
                        if(data.location[i].name===locationName){
                            console.log('搜寻成功,id为'+data.location[i].id)
                            this.currentCity=locationName;
                            locationId=data.location[i].id;//找到城市或区id之后查找详细天气状况
                        }
                    }
                    if(locationId==0){
                        alert('请输入正确的城市或城区名字')
                    }
                    else{//获取到locationId则继续寻找
                        //获取当天天气以及未来五天天气状况
                        axios({
                            methods:'get',
                            url:'https://devapi.qweather.com/v7/weather/now',
                            params:{
                                key:mykey,
                                location:locationId
                            }
                        }).then((respose)=>{
                            console.log('实时天气')
                            console.log(respose.data)
                            
                            if(respose.data.code!=200){
                                alert('请求错误，获取当天天气失败')
                            }
                            else{
                                //实时时间变更
                                this.currentDate=respose.data.updateTime.substr(0,4)+'年'+respose.data.updateTime.substr(5,2)+'月'+respose.data.updateTime.substr(8,2)+'日'
                                this.currentTime=respose.data.updateTime.substr(11,5)
                                //更新今日天气
                                let nowData=respose.data.now
                                // this.cityMain.maxTemp=nowData[0].tempMax;//最高温度
                                // this.cityMain.minTemp=nowData[0].tempMax;//最低温度
                                this.cityMain.nowTemp=nowData.temp+'°C';//当前温度温度
                                // this.cityMain.sunRise=nowData[0].tempMax;//日出
                                // this.cityMain.sunSet=nowData[0].tempMax;//日落
                                this.cityMain.humidity=nowData.humidity+'%';//湿度
                                this.cityMain.pressure=nowData.pressure+'hPa';//大气压
                                this.cityMain.windSpeed=nowData.windSpeed+'km/h';//风速
                                this.cityMain.weatherType=nowData.text;//当前天气类型
                                this.cityMain.weatherTypeIcon='qi-'+nowData.icon;//天气类型图标
                                //更新当天以及未来五天天气
                                axios({
                                    methods:'get',
                                    url:'https://devapi.qweather.com/v7/weather/7d',
                                    params:{
                                        key:mykey,
                                        location:locationId
                                    }
                                }).then((respose)=>{
                                    console.log('未来几天天气')
                                    console.log(respose.data)
                                    if(respose.data.code!=200){
                                        alert('获取未来五天天气失败')
                                    }
                                    else{//获取未来几天天气
                                        let dailyData=respose.data.daily;
                                        this.cityMain.maxTemp=dailyData[0].tempMax;//最高温度
                                        this.cityMain.minTemp=dailyData[0].tempMin;//最低温度
                                        this.cityMain.sunRise=dailyData[0].sunrise;//日出
                                        this.cityMain.sunSet=dailyData[0].sunset;//日落
                                        this.cityMain.uv=dailyData[0].uvIndex;//紫外线指数
                                        this.fiveDayLike=[];
                                        const weekArray = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
                                        for(let i=1;i<=5;i++)//未来五天粗略天气
                                        {  

                                           let newDailyData={
                                            todayBefore:i,
                                            dayOfWeekCH:weekArray[new Date(dailyData[i].fxDate).getDay()],//星期几
                                            averageTemp:(parseInt(dailyData[i].tempMax)+parseInt(dailyData[i].tempMin))/2+'°C',//平均温度
                                            weatherIcon:'qi-'+dailyData[i].iconDay
                                           }
                                           this.fiveDayLike.push(newDailyData);
                                        }
                                        //获取小时天气信息
                                        axios({
                                            methods:'get',
                                            url:'https://devapi.qweather.com/v7/weather/24h',
                                            params:{
                                                key:mykey,
                                                location:locationId
                                            }
                                        }).then((respose)=>{
                                            console.log('小时天气')
                                            console.log(respose.data)
                                            if(respose.data.code!=200){
                                                alert('获取小时天气失败')
                                            }
                                            else{
                                                this.hourlyLike=[];
                                                let horlyData=respose.data.hourly;
                                                for(let i=2;i<=11;i+=3){
                                                    let newHourlyData={
                                                        time:horlyData[i].fxTime.substr(11,5),
                                                        averageTemp:horlyData[i].temp+'°C',
                                                        weatherTypeIcon:'qi-'+horlyData[i].icon,
                                                        windDirectionIcon:horlyData[i].windDir,
                                                        windSpeed:horlyData[i].windSpeed+'km/h'
                                                    }
                                                    this.hourlyLike.push(newHourlyData)
                                                }
                                                console.log(this.hourlyLike)
                                            }
                                        })
                                    }
                                })
                            }
                        })
                    }
                }
            })
            console.log('完毕')
            console.log(this.hourlyLike)
        },
    },
    mounted() {
        const mykey='b38053db3dee4ae39586a04fbff4ff1c';
        let that=this;
        function showPositionAndWeather(position)
        {
            axios({
                methods:'get',
                url:'https://geoapi.qweather.com/v2/city/lookup',
                                    params:{
                                        key:mykey,
                                        location:''+position.coords.longitude.toFixed(2)+','+position.coords.latitude.toFixed(2)
                                    }
                }
            ).then((res)=>{
                if(res.data.code==200)
                {
                    that.getWeatherMainByName(res.data.location[0].name);       
                }
                else
                {
                    alert('请求失败，刷新页面重试')
                }
            })
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert('用户拒绝地址请求');
                    break;
            }
        }
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPositionAndWeather, showError)
        } 
        else {
            console.log('当前浏览器不支持定位');
        }
    }
    }
)
</script>
</html>